{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block sub_title %}{% trans "Identificarse" %}{% endblock %}

{% block content %}

<main>

  <div class="z-depth-1">
    <nav class="top-nav no-pad-bot red darken-1">
      <div class="container">
        <h1>{% trans "Identifíquese" %}</h1>
      </div>
    </nav>
  </div>

  <div class="section no-pad-bot">
    <div class="container">
      <form class="login" method="POST" action="{% url 'account_login' %}">

        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          <p>
            <div class="input-field">
              {% if field.name == 'login' %}
                <i class="mdi-action-account-circle prefix"></i>
              {% elif field.name == 'password' %}
                <i class="mdi-communication-vpn-key prefix"></i>
              {% endif %}
              {{ field }}
            </div>
          </p>
        {% endfor %}

        {% if form.errors %}
          <div class="messages" style="display:none;">
            {{ form.errors.as_json }}
          </div>
        {% endif %}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <a class="button secondaryAction" style="color:black" href="{% url 'account_reset_password' %}"><b>{% trans "¿Olvidó su password?" %}</b></a>
        <button class="btn waves-effect waves-light right red" type="submit" name="action">{% trans "Ingresar" %}
          <i class="mdi-content-send right"></i>
        </button>
      </form>
    </div>
  </div>
</main>

{% endblock %}

{% block footer_scripts %}
<script type="text/javascript">
  $(document).ready(
    function(){ 
      var messages = $('.messages').html();
      if (messages === undefined){
        return;
      }
      json = $.parseJSON(messages.trim());
      if (json.login !== undefined){
        toast('Debe ingresar su nombre de usuario', 4000, 'rounded'); 
        return;
      }
      if (json.password !== undefined){
        toast('Debe ingresar su password', 4000, 'rounded'); 
        return;
      }
      if (json.__all__ !== undefined){
        toast('Su usuario y/o contraña son incorrectos', 4000, 'rounded'); 
        return;
      }
    }); 
</script>
{% endblock %}
