{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block sub_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main>

  <div class="z-depth-1">
    <nav class="top-nav no-pad-bot blue darken-4">
      <div class="container">
        <h1>{% trans "Recuperar su password" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
      </div>
    </nav>
  </div>

  <div class="section no-pad-bot">
    <div class="container">

    <p>{% trans "¿Olvidó su password? A continuación ingrese su email, le envíaremos las instrucciones a la dirección dada para recuperar su password." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn waves-effect waves-light right" type="submit" name="action">{% trans "Recuperar mi password" %}
          <i class="mdi-content-send right"></i>
        </button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
  </div>
</main>

{% endblock %}
